footer
    +gradient(0deg, $azul-claro, transparent)
    padding: 12px

    .logo-rodape
        img
            width: 80px
            height: 70px
            display: block
            margin: 20px auto

    p
        text-align: center